<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>

  <div class="container">
    <% @cocktails.each do |cocktail| %>
    <div class="my_card">
      <p class="name"><%= cocktail.name %></p>
      <div class="flex align-center">
        
        <div class="btn btn-outline-success"><%= link_to 'View Recipe', cocktail %></div>
  
      
      </div>
    </div>
    <% end %>
    </div>

<br>

