<p id="notice"><%= notice %></p>

<h1>Cocktails</h1>

  <div class="row p-4">
    <% @cocktails.each do |cocktail| %>
    <div class="my_card col-6 col-md-4">
      <div class="inner">
        <p class="name text-center"><%= cocktail.name %></p>
    
        <div class="btn btn-outline-success"><%= link_to 'View', cocktail %></div>
      </div>
    </div>
    <% end %>
  </div>

<br>

