<nav class="navbar navbar-light position-sticky fixed-top">
  <%# <i class="fas fa-cocktail"></i> %>
  <h1><%= link_to icon("fas", "cocktail"), cocktails_path, class: "text-success strong" %></h1>
  <%= link_to "Create a Cocktail", new_cocktail_path, class: "btn btn-outline-success my-2 my-sm-0 badge-pill" %> 
</nav>