.my_card {
  height: 150px;
  // background-color: white;
  // opacity: 95%;
  // border: 1px solid $yellow;
  // border-radius: 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 4px;
}

.inner {
  border: 1px solid $yellow;
  border-radius: 2px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: white;
  opacity: 90%;
  height: 99%;
  width: 97%;
}

.my_card .name {
  color: black;
  text-decoration: underline;
  font-weight: bold;
  margin-top: 10px;
}

// .my_card href {
//   color: black;
// }
