.my_card {
  width: 200px;
  height: fit-content;
  background-color: white;
  opacity: 98%;
  border: 1px solid $yellow;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
}

.my_card .name {
  color: black;
  text-decoration: underline;
  margin-top: 10px;
}

// .my_card href {
//   color: black;
// }
