// Place all the styles related to the Cocktails controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
$yellow: #ffe202;

.cocktail-form {
  width: 75%;
  color: black;
  border: 2px solid $yellow;
  background-color: white;
  opacity: 90%;
  border-radius: 2px;
  margin: 5% auto;
  padding: 5%;
}

.tail-list {
  justify-content: center;
}

.name {
  white-space: no-wrap;
}

@media screen and (max-width: 600px) {
  .cocktail-form {
    width: 95%;
  }
}